body {
  background: #f4f4f4; }

.box {
  width: 850px;
  height: 315px; }
  .box .pixel {
    width: 10px;
    height: 10px;
    background: #ffffff;
    float: left;
    box-shadow: 0px 0px 1px 0px #231816; }
    .box .pixel:nth-of-type(188) {
      background: #231816; }
    .box .pixel:nth-of-type(189) {
      background: #231816; }
    .box .pixel:nth-of-type(190) {
      background: #231816; }
    .box .pixel:nth-of-type(191) {
      background: #231816; }
    .box .pixel:nth-of-type(192) {
      background: #231816; }
    .box .pixel:nth-of-type(193) {
      background: #231816; }
    .box .pixel:nth-of-type(194) {
      background: #231816; }
    .box .pixel:nth-of-type(195) {
      background: #231816; }
    .box .pixel:nth-of-type(196) {
      background: #231816; }
    .box .pixel:nth-of-type(197) {
      background: #231816; }
    .box .pixel:nth-of-type(198) {
      background: #231816; }
    .box .pixel:nth-of-type(199) {
      background: #231816; }
    .box .pixel:nth-of-type(200) {
      background: #231816; }
    .box .pixel:nth-of-type(201) {
      background: #231816; }
    .box .pixel:nth-of-type(202) {
      background: #231816; }
    .box .pixel:nth-of-type(203) {
      background: #231816; }
    .box .pixel:nth-of-type(204) {
      background: #231816; }
    .box .pixel:nth-of-type(205) {
      background: #231816; }
    .box .pixel:nth-of-type(206) {
      background: #231816; }
    .box .pixel:nth-of-type(207) {
      background: #231816; }
    .box .pixel:nth-of-type(208) {
      background: #231816; }
    .box .pixel:nth-of-type(209) {
      background: #231816; }
    .box .pixel:nth-of-type(210) {
      background: #231816; }
    .box .pixel:nth-of-type(211) {
      background: #231816; }
    .box .pixel:nth-of-type(212) {
      background: #231816; }
    .box .pixel:nth-of-type(213) {
      background: #231816; }
    .box .pixel:nth-of-type(214) {
      background: #231816; }
    .box .pixel:nth-of-type(215) {
      background: #231816; }
    .box .pixel:nth-of-type(216) {
      background: #231816; }
    .box .pixel:nth-of-type(217) {
      background: #231816; }
    .box .pixel:nth-of-type(218) {
      background: #231816; }
    .box .pixel:nth-of-type(219) {
      background: #231816; }
    .box .pixel:nth-of-type(220) {
      background: #231816; }
    .box .pixel:nth-of-type(221) {
      background: #231816; }
    .box .pixel:nth-of-type(222) {
      background: #231816; }
    .box .pixel:nth-of-type(223) {
      background: #231816; }
    .box .pixel:nth-of-type(224) {
      background: #231816; }
    .box .pixel:nth-of-type(225) {
      background: #231816; }
    .box .pixel:nth-of-type(226) {
      background: #231816; }
    .box .pixel:nth-of-type(227) {
      background: #231816; }
    .box .pixel:nth-of-type(228) {
      background: #231816; }
    .box .pixel:nth-of-type(229) {
      background: #231816; }
    .box .pixel:nth-of-type(230) {
      background: #231816; }
    .box .pixel:nth-of-type(231) {
      background: #231816; }
    .box .pixel:nth-of-type(232) {
      background: #231816; }
    .box .pixel:nth-of-type(233) {
      background: #231816; }
    .box .pixel:nth-of-type(234) {
      background: #231816; }
    .box .pixel:nth-of-type(235) {
      background: #231816; }
    .box .pixel:nth-of-type(236) {
      background: #231816; }
    .box .pixel:nth-of-type(237) {
      background: #231816; }
    .box .pixel:nth-of-type(238) {
      background: #231816; }
    .box .pixel:nth-of-type(273) {
      background: #231816; }
    .box .pixel:nth-of-type(274) {
      background: #231816; }
    .box .pixel:nth-of-type(275) {
      background: #231816; }
    .box .pixel:nth-of-type(276) {
      background: #231816; }
    .box .pixel:nth-of-type(277) {
      background: #231816; }
    .box .pixel:nth-of-type(278) {
      background: #231816; }
    .box .pixel:nth-of-type(279) {
      background: #231816; }
    .box .pixel:nth-of-type(280) {
      background: #231816; }
    .box .pixel:nth-of-type(281) {
      background: #231816; }
    .box .pixel:nth-of-type(282) {
      background: #231816; }
    .box .pixel:nth-of-type(283) {
      background: #231816; }
    .box .pixel:nth-of-type(284) {
      background: #231816; }
    .box .pixel:nth-of-type(285) {
      background: #231816; }
    .box .pixel:nth-of-type(286) {
      background: #231816; }
    .box .pixel:nth-of-type(287) {
      background: #231816; }
    .box .pixel:nth-of-type(288) {
      background: #231816; }
    .box .pixel:nth-of-type(289) {
      background: #231816; }
    .box .pixel:nth-of-type(290) {
      background: #231816; }
    .box .pixel:nth-of-type(291) {
      background: #231816; }
    .box .pixel:nth-of-type(292) {
      background: #231816; }
    .box .pixel:nth-of-type(293) {
      background: #231816; }
    .box .pixel:nth-of-type(294) {
      background: #231816; }
    .box .pixel:nth-of-type(295) {
      background: #231816; }
    .box .pixel:nth-of-type(296) {
      background: #231816; }
    .box .pixel:nth-of-type(297) {
      background: #231816; }
    .box .pixel:nth-of-type(298) {
      background: #231816; }
    .box .pixel:nth-of-type(299) {
      background: #231816; }
    .box .pixel:nth-of-type(300) {
      background: #231816; }
    .box .pixel:nth-of-type(301) {
      background: #231816; }
    .box .pixel:nth-of-type(302) {
      background: #231816; }
    .box .pixel:nth-of-type(303) {
      background: #231816; }
    .box .pixel:nth-of-type(304) {
      background: #231816; }
    .box .pixel:nth-of-type(305) {
      background: #231816; }
    .box .pixel:nth-of-type(306) {
      background: #231816; }
    .box .pixel:nth-of-type(307) {
      background: #231816; }
    .box .pixel:nth-of-type(308) {
      background: #231816; }
    .box .pixel:nth-of-type(309) {
      background: #231816; }
    .box .pixel:nth-of-type(310) {
      background: #231816; }
    .box .pixel:nth-of-type(311) {
      background: #231816; }
    .box .pixel:nth-of-type(312) {
      background: #231816; }
    .box .pixel:nth-of-type(313) {
      background: #231816; }
    .box .pixel:nth-of-type(314) {
      background: #231816; }
    .box .pixel:nth-of-type(315) {
      background: #231816; }
    .box .pixel:nth-of-type(316) {
      background: #231816; }
    .box .pixel:nth-of-type(317) {
      background: #231816; }
    .box .pixel:nth-of-type(318) {
      background: #231816; }
    .box .pixel:nth-of-type(319) {
      background: #231816; }
    .box .pixel:nth-of-type(320) {
      background: #231816; }
    .box .pixel:nth-of-type(321) {
      background: #231816; }
    .box .pixel:nth-of-type(322) {
      background: #231816; }
    .box .pixel:nth-of-type(323) {
      background: #231816; }
    .box .pixel:nth-of-type(358) {
      background: #231816; }
    .box .pixel:nth-of-type(359) {
      background: #231816; }
    .box .pixel:nth-of-type(360) {
      background: #231816; }
    .box .pixel:nth-of-type(361) {
      background: #231816; }
    .box .pixel:nth-of-type(362) {
      background: #231816; }
    .box .pixel:nth-of-type(363) {
      background: #231816; }
    .box .pixel:nth-of-type(364) {
      background: #231816; }
    .box .pixel:nth-of-type(365) {
      background: #231816; }
    .box .pixel:nth-of-type(366) {
      background: #231816; }
    .box .pixel:nth-of-type(367) {
      background: #231816; }
    .box .pixel:nth-of-type(368) {
      background: #231816; }
    .box .pixel:nth-of-type(369) {
      background: #231816; }
    .box .pixel:nth-of-type(370) {
      background: #231816; }
    .box .pixel:nth-of-type(371) {
      background: #231816; }
    .box .pixel:nth-of-type(372) {
      background: #231816; }
    .box .pixel:nth-of-type(373) {
      background: #231816; }
    .box .pixel:nth-of-type(374) {
      background: #231816; }
    .box .pixel:nth-of-type(375) {
      background: #231816; }
    .box .pixel:nth-of-type(376) {
      background: #231816; }
    .box .pixel:nth-of-type(377) {
      background: #231816; }
    .box .pixel:nth-of-type(378) {
      background: #231816; }
    .box .pixel:nth-of-type(379) {
      background: #231816; }
    .box .pixel:nth-of-type(380) {
      background: #231816; }
    .box .pixel:nth-of-type(381) {
      background: #231816; }
    .box .pixel:nth-of-type(382) {
      background: #231816; }
    .box .pixel:nth-of-type(383) {
      background: #231816; }
    .box .pixel:nth-of-type(384) {
      background: #231816; }
    .box .pixel:nth-of-type(385) {
      background: #231816; }
    .box .pixel:nth-of-type(386) {
      background: #231816; }
    .box .pixel:nth-of-type(387) {
      background: #231816; }
    .box .pixel:nth-of-type(388) {
      background: #231816; }
    .box .pixel:nth-of-type(389) {
      background: #231816; }
    .box .pixel:nth-of-type(390) {
      background: #231816; }
    .box .pixel:nth-of-type(391) {
      background: #231816; }
    .box .pixel:nth-of-type(392) {
      background: #231816; }
    .box .pixel:nth-of-type(393) {
      background: #231816; }
    .box .pixel:nth-of-type(394) {
      background: #231816; }
    .box .pixel:nth-of-type(395) {
      background: #231816; }
    .box .pixel:nth-of-type(396) {
      background: #231816; }
    .box .pixel:nth-of-type(397) {
      background: #231816; }
    .box .pixel:nth-of-type(398) {
      background: #231816; }
    .box .pixel:nth-of-type(399) {
      background: #231816; }
    .box .pixel:nth-of-type(400) {
      background: #231816; }
    .box .pixel:nth-of-type(401) {
      background: #231816; }
    .box .pixel:nth-of-type(402) {
      background: #231816; }
    .box .pixel:nth-of-type(403) {
      background: #231816; }
    .box .pixel:nth-of-type(404) {
      background: #231816; }
    .box .pixel:nth-of-type(405) {
      background: #231816; }
    .box .pixel:nth-of-type(406) {
      background: #231816; }
    .box .pixel:nth-of-type(407) {
      background: #231816; }
    .box .pixel:nth-of-type(408) {
      background: #231816; }
    .box .pixel:nth-of-type(443) {
      background: #231816; }
    .box .pixel:nth-of-type(444) {
      background: #231816; }
    .box .pixel:nth-of-type(445) {
      background: #231816; }
    .box .pixel:nth-of-type(446) {
      background: #231816; }
    .box .pixel:nth-of-type(447) {
      background: #231816; }
    .box .pixel:nth-of-type(448) {
      background: #231816; }
    .box .pixel:nth-of-type(449) {
      background: #231816; }
    .box .pixel:nth-of-type(450) {
      background: #231816; }
    .box .pixel:nth-of-type(451) {
      background: #231816; }
    .box .pixel:nth-of-type(452) {
      background: #231816; }
    .box .pixel:nth-of-type(453) {
      background: #231816; }
    .box .pixel:nth-of-type(454) {
      background: #231816; }
    .box .pixel:nth-of-type(455) {
      background: #231816; }
    .box .pixel:nth-of-type(456) {
      background: #231816; }
    .box .pixel:nth-of-type(457) {
      background: #231816; }
    .box .pixel:nth-of-type(458) {
      background: #231816; }
    .box .pixel:nth-of-type(459) {
      background: #231816; }
    .box .pixel:nth-of-type(460) {
      background: #231816; }
    .box .pixel:nth-of-type(461) {
      background: #231816; }
    .box .pixel:nth-of-type(462) {
      background: #231816; }
    .box .pixel:nth-of-type(463) {
      background: #231816; }
    .box .pixel:nth-of-type(464) {
      background: #231816; }
    .box .pixel:nth-of-type(465) {
      background: #231816; }
    .box .pixel:nth-of-type(466) {
      background: #231816; }
    .box .pixel:nth-of-type(467) {
      background: #231816; }
    .box .pixel:nth-of-type(468) {
      background: #231816; }
    .box .pixel:nth-of-type(469) {
      background: #231816; }
    .box .pixel:nth-of-type(470) {
      background: #231816; }
    .box .pixel:nth-of-type(471) {
      background: #231816; }
    .box .pixel:nth-of-type(472) {
      background: #231816; }
    .box .pixel:nth-of-type(473) {
      background: #231816; }
    .box .pixel:nth-of-type(474) {
      background: #231816; }
    .box .pixel:nth-of-type(475) {
      background: #231816; }
    .box .pixel:nth-of-type(476) {
      background: #231816; }
    .box .pixel:nth-of-type(477) {
      background: #231816; }
    .box .pixel:nth-of-type(478) {
      background: #231816; }
    .box .pixel:nth-of-type(479) {
      background: #231816; }
    .box .pixel:nth-of-type(480) {
      background: #231816; }
    .box .pixel:nth-of-type(481) {
      background: #231816; }
    .box .pixel:nth-of-type(482) {
      background: #231816; }
    .box .pixel:nth-of-type(483) {
      background: #231816; }
    .box .pixel:nth-of-type(484) {
      background: #231816; }
    .box .pixel:nth-of-type(485) {
      background: #231816; }
    .box .pixel:nth-of-type(486) {
      background: #231816; }
    .box .pixel:nth-of-type(487) {
      background: #231816; }
    .box .pixel:nth-of-type(488) {
      background: #231816; }
    .box .pixel:nth-of-type(489) {
      background: #231816; }
    .box .pixel:nth-of-type(490) {
      background: #231816; }
    .box .pixel:nth-of-type(491) {
      background: #231816; }
    .box .pixel:nth-of-type(492) {
      background: #231816; }
    .box .pixel:nth-of-type(493) {
      background: #231816; }
    .box .pixel:nth-of-type(528) {
      background: #231816; }
    .box .pixel:nth-of-type(529) {
      background: #231816; }
    .box .pixel:nth-of-type(530) {
      background: #231816; }
    .box .pixel:nth-of-type(531) {
      background: #231816; }
    .box .pixel:nth-of-type(532) {
      background: #231816; }
    .box .pixel:nth-of-type(533) {
      background: #231816; }
    .box .pixel:nth-of-type(534) {
      background: #231816; }
    .box .pixel:nth-of-type(535) {
      background: #231816; }
    .box .pixel:nth-of-type(536) {
      background: #231816; }
    .box .pixel:nth-of-type(537) {
      background: #231816; }
    .box .pixel:nth-of-type(538) {
      background: #231816; }
    .box .pixel:nth-of-type(539) {
      background: #231816; }
    .box .pixel:nth-of-type(540) {
      background: #231816; }
    .box .pixel:nth-of-type(541) {
      background: #231816; }
    .box .pixel:nth-of-type(542) {
      background: #231816; }
    .box .pixel:nth-of-type(543) {
      background: #231816; }
    .box .pixel:nth-of-type(544) {
      background: #231816; }
    .box .pixel:nth-of-type(545) {
      background: #231816; }
    .box .pixel:nth-of-type(546) {
      background: #231816; }
    .box .pixel:nth-of-type(547) {
      background: #231816; }
    .box .pixel:nth-of-type(548) {
      background: #231816; }
    .box .pixel:nth-of-type(549) {
      background: #231816; }
    .box .pixel:nth-of-type(550) {
      background: #231816; }
    .box .pixel:nth-of-type(551) {
      background: #231816; }
    .box .pixel:nth-of-type(552) {
      background: #231816; }
    .box .pixel:nth-of-type(553) {
      background: #231816; }
    .box .pixel:nth-of-type(554) {
      background: #231816; }
    .box .pixel:nth-of-type(555) {
      background: #231816; }
    .box .pixel:nth-of-type(556) {
      background: #231816; }
    .box .pixel:nth-of-type(557) {
      background: #231816; }
    .box .pixel:nth-of-type(558) {
      background: #231816; }
    .box .pixel:nth-of-type(559) {
      background: #231816; }
    .box .pixel:nth-of-type(560) {
      background: #231816; }
    .box .pixel:nth-of-type(561) {
      background: #231816; }
    .box .pixel:nth-of-type(562) {
      background: #231816; }
    .box .pixel:nth-of-type(563) {
      background: #231816; }
    .box .pixel:nth-of-type(564) {
      background: #231816; }
    .box .pixel:nth-of-type(565) {
      background: #231816; }
    .box .pixel:nth-of-type(566) {
      background: #231816; }
    .box .pixel:nth-of-type(567) {
      background: #231816; }
    .box .pixel:nth-of-type(568) {
      background: #231816; }
    .box .pixel:nth-of-type(569) {
      background: #231816; }
    .box .pixel:nth-of-type(570) {
      background: #231816; }
    .box .pixel:nth-of-type(571) {
      background: #231816; }
    .box .pixel:nth-of-type(572) {
      background: #231816; }
    .box .pixel:nth-of-type(573) {
      background: #231816; }
    .box .pixel:nth-of-type(574) {
      background: #231816; }
    .box .pixel:nth-of-type(575) {
      background: #231816; }
    .box .pixel:nth-of-type(576) {
      background: #231816; }
    .box .pixel:nth-of-type(577) {
      background: #231816; }
    .box .pixel:nth-of-type(578) {
      background: #231816; }
    .box .pixel:nth-of-type(613) {
      background: #231816; }
    .box .pixel:nth-of-type(614) {
      background: #231816; }
    .box .pixel:nth-of-type(615) {
      background: #231816; }
    .box .pixel:nth-of-type(616) {
      background: #231816; }
    .box .pixel:nth-of-type(617) {
      background: #231816; }
    .box .pixel:nth-of-type(618) {
      background: #231816; }
    .box .pixel:nth-of-type(619) {
      background: #231816; }
    .box .pixel:nth-of-type(620) {
      background: #231816; }
    .box .pixel:nth-of-type(621) {
      background: #231816; }
    .box .pixel:nth-of-type(622) {
      background: #231816; }
    .box .pixel:nth-of-type(623) {
      background: #231816; }
    .box .pixel:nth-of-type(624) {
      background: #231816; }
    .box .pixel:nth-of-type(625) {
      background: #231816; }
    .box .pixel:nth-of-type(626) {
      background: #231816; }
    .box .pixel:nth-of-type(627) {
      background: #231816; }
    .box .pixel:nth-of-type(628) {
      background: #231816; }
    .box .pixel:nth-of-type(629) {
      background: #231816; }
    .box .pixel:nth-of-type(630) {
      background: #231816; }
    .box .pixel:nth-of-type(631) {
      background: #231816; }
    .box .pixel:nth-of-type(632) {
      background: #231816; }
    .box .pixel:nth-of-type(633) {
      background: #231816; }
    .box .pixel:nth-of-type(634) {
      background: #231816; }
    .box .pixel:nth-of-type(635) {
      background: #231816; }
    .box .pixel:nth-of-type(636) {
      background: #231816; }
    .box .pixel:nth-of-type(637) {
      background: #231816; }
    .box .pixel:nth-of-type(638) {
      background: #231816; }
    .box .pixel:nth-of-type(639) {
      background: #231816; }
    .box .pixel:nth-of-type(640) {
      background: #231816; }
    .box .pixel:nth-of-type(641) {
      background: #231816; }
    .box .pixel:nth-of-type(642) {
      background: #231816; }
    .box .pixel:nth-of-type(643) {
      background: #231816; }
    .box .pixel:nth-of-type(644) {
      background: #231816; }
    .box .pixel:nth-of-type(645) {
      background: #231816; }
    .box .pixel:nth-of-type(646) {
      background: #231816; }
    .box .pixel:nth-of-type(647) {
      background: #231816; }
    .box .pixel:nth-of-type(648) {
      background: #231816; }
    .box .pixel:nth-of-type(649) {
      background: #231816; }
    .box .pixel:nth-of-type(650) {
      background: #231816; }
    .box .pixel:nth-of-type(651) {
      background: #231816; }
    .box .pixel:nth-of-type(652) {
      background: #231816; }
    .box .pixel:nth-of-type(653) {
      background: #231816; }
    .box .pixel:nth-of-type(654) {
      background: #231816; }
    .box .pixel:nth-of-type(655) {
      background: #231816; }
    .box .pixel:nth-of-type(656) {
      background: #231816; }
    .box .pixel:nth-of-type(657) {
      background: #231816; }
    .box .pixel:nth-of-type(658) {
      background: #231816; }
    .box .pixel:nth-of-type(659) {
      background: #231816; }
    .box .pixel:nth-of-type(660) {
      background: #231816; }
    .box .pixel:nth-of-type(661) {
      background: #231816; }
    .box .pixel:nth-of-type(662) {
      background: #231816; }
    .box .pixel:nth-of-type(663) {
      background: #231816; }
    .box .pixel:nth-of-type(698) {
      background: #231816; }
    .box .pixel:nth-of-type(699) {
      background: #231816; }
    .box .pixel:nth-of-type(700) {
      background: #231816; }
    .box .pixel:nth-of-type(701) {
      background: #231816; }
    .box .pixel:nth-of-type(702) {
      background: #231816; }
    .box .pixel:nth-of-type(703) {
      background: #231816; }
    .box .pixel:nth-of-type(704) {
      background: #231816; }
    .box .pixel:nth-of-type(705) {
      background: #231816; }
    .box .pixel:nth-of-type(706) {
      background: #231816; }
    .box .pixel:nth-of-type(707) {
      background: #231816; }
    .box .pixel:nth-of-type(708) {
      background: #231816; }
    .box .pixel:nth-of-type(709) {
      background: #231816; }
    .box .pixel:nth-of-type(710) {
      background: #231816; }
    .box .pixel:nth-of-type(711) {
      background: #231816; }
    .box .pixel:nth-of-type(712) {
      background: #231816; }
    .box .pixel:nth-of-type(713) {
      background: #231816; }
    .box .pixel:nth-of-type(714) {
      background: #231816; }
    .box .pixel:nth-of-type(715) {
      background: #231816; }
    .box .pixel:nth-of-type(716) {
      background: #231816; }
    .box .pixel:nth-of-type(717) {
      background: #231816; }
    .box .pixel:nth-of-type(718) {
      background: #231816; }
    .box .pixel:nth-of-type(719) {
      background: #231816; }
    .box .pixel:nth-of-type(720) {
      background: #231816; }
    .box .pixel:nth-of-type(721) {
      background: #231816; }
    .box .pixel:nth-of-type(722) {
      background: #231816; }
    .box .pixel:nth-of-type(723) {
      background: #231816; }
    .box .pixel:nth-of-type(724) {
      background: #231816; }
    .box .pixel:nth-of-type(725) {
      background: #231816; }
    .box .pixel:nth-of-type(726) {
      background: #231816; }
    .box .pixel:nth-of-type(727) {
      background: #231816; }
    .box .pixel:nth-of-type(728) {
      background: #231816; }
    .box .pixel:nth-of-type(729) {
      background: #231816; }
    .box .pixel:nth-of-type(730) {
      background: #231816; }
    .box .pixel:nth-of-type(731) {
      background: #231816; }
    .box .pixel:nth-of-type(732) {
      background: #231816; }
    .box .pixel:nth-of-type(733) {
      background: #231816; }
    .box .pixel:nth-of-type(734) {
      background: #231816; }
    .box .pixel:nth-of-type(735) {
      background: #231816; }
    .box .pixel:nth-of-type(736) {
      background: #231816; }
    .box .pixel:nth-of-type(737) {
      background: #231816; }
    .box .pixel:nth-of-type(738) {
      background: #231816; }
    .box .pixel:nth-of-type(739) {
      background: #231816; }
    .box .pixel:nth-of-type(740) {
      background: #231816; }
    .box .pixel:nth-of-type(741) {
      background: #231816; }
    .box .pixel:nth-of-type(742) {
      background: #231816; }
    .box .pixel:nth-of-type(743) {
      background: #231816; }
    .box .pixel:nth-of-type(744) {
      background: #231816; }
    .box .pixel:nth-of-type(745) {
      background: #231816; }
    .box .pixel:nth-of-type(746) {
      background: #231816; }
    .box .pixel:nth-of-type(747) {
      background: #231816; }
    .box .pixel:nth-of-type(748) {
      background: #231816; }
    .box .pixel:nth-of-type(783) {
      background: #231816; }
    .box .pixel:nth-of-type(784) {
      background: #231816; }
    .box .pixel:nth-of-type(785) {
      background: #231816; }
    .box .pixel:nth-of-type(786) {
      background: #231816; }
    .box .pixel:nth-of-type(787) {
      background: #231816; }
    .box .pixel:nth-of-type(788) {
      background: #231816; }
    .box .pixel:nth-of-type(789) {
      background: #231816; }
    .box .pixel:nth-of-type(790) {
      background: #231816; }
    .box .pixel:nth-of-type(791) {
      background: #231816; }
    .box .pixel:nth-of-type(792) {
      background: #231816; }
    .box .pixel:nth-of-type(793) {
      background: #231816; }
    .box .pixel:nth-of-type(794) {
      background: #231816; }
    .box .pixel:nth-of-type(795) {
      background: #231816; }
    .box .pixel:nth-of-type(796) {
      background: #231816; }
    .box .pixel:nth-of-type(797) {
      background: #231816; }
    .box .pixel:nth-of-type(798) {
      background: #231816; }
    .box .pixel:nth-of-type(799) {
      background: #231816; }
    .box .pixel:nth-of-type(800) {
      background: #231816; }
    .box .pixel:nth-of-type(801) {
      background: #231816; }
    .box .pixel:nth-of-type(802) {
      background: #231816; }
    .box .pixel:nth-of-type(803) {
      background: #231816; }
    .box .pixel:nth-of-type(804) {
      background: #231816; }
    .box .pixel:nth-of-type(805) {
      background: #231816; }
    .box .pixel:nth-of-type(806) {
      background: #231816; }
    .box .pixel:nth-of-type(807) {
      background: #231816; }
    .box .pixel:nth-of-type(808) {
      background: #231816; }
    .box .pixel:nth-of-type(809) {
      background: #231816; }
    .box .pixel:nth-of-type(810) {
      background: #231816; }
    .box .pixel:nth-of-type(811) {
      background: #231816; }
    .box .pixel:nth-of-type(812) {
      background: #231816; }
    .box .pixel:nth-of-type(813) {
      background: #231816; }
    .box .pixel:nth-of-type(814) {
      background: #231816; }
    .box .pixel:nth-of-type(815) {
      background: #231816; }
    .box .pixel:nth-of-type(816) {
      background: #231816; }
    .box .pixel:nth-of-type(817) {
      background: #231816; }
    .box .pixel:nth-of-type(818) {
      background: #231816; }
    .box .pixel:nth-of-type(819) {
      background: #231816; }
    .box .pixel:nth-of-type(820) {
      background: #231816; }
    .box .pixel:nth-of-type(821) {
      background: #231816; }
    .box .pixel:nth-of-type(822) {
      background: #231816; }
    .box .pixel:nth-of-type(823) {
      background: #231816; }
    .box .pixel:nth-of-type(824) {
      background: #231816; }
    .box .pixel:nth-of-type(825) {
      background: #231816; }
    .box .pixel:nth-of-type(826) {
      background: #231816; }
    .box .pixel:nth-of-type(827) {
      background: #231816; }
    .box .pixel:nth-of-type(828) {
      background: #231816; }
    .box .pixel:nth-of-type(829) {
      background: #231816; }
    .box .pixel:nth-of-type(830) {
      background: #231816; }
    .box .pixel:nth-of-type(831) {
      background: #231816; }
    .box .pixel:nth-of-type(832) {
      background: #231816; }
    .box .pixel:nth-of-type(833) {
      background: #231816; }
    .box .pixel:nth-of-type(868) {
      background: #231816; }
    .box .pixel:nth-of-type(869) {
      background: #231816; }
    .box .pixel:nth-of-type(870) {
      background: #231816; }
    .box .pixel:nth-of-type(871) {
      background: #231816; }
    .box .pixel:nth-of-type(872) {
      background: #231816; }
    .box .pixel:nth-of-type(873) {
      background: #231816; }
    .box .pixel:nth-of-type(874) {
      background: #231816; }
    .box .pixel:nth-of-type(875) {
      background: #231816; }
    .box .pixel:nth-of-type(876) {
      background: #231816; }
    .box .pixel:nth-of-type(877) {
      background: #231816; }
    .box .pixel:nth-of-type(878) {
      background: #231816; }
    .box .pixel:nth-of-type(879) {
      background: #231816; }
    .box .pixel:nth-of-type(880) {
      background: #231816; }
    .box .pixel:nth-of-type(881) {
      background: #231816; }
    .box .pixel:nth-of-type(882) {
      background: #231816; }
    .box .pixel:nth-of-type(883) {
      background: #231816; }
    .box .pixel:nth-of-type(884) {
      background: #231816; }
    .box .pixel:nth-of-type(885) {
      background: #231816; }
    .box .pixel:nth-of-type(886) {
      background: #231816; }
    .box .pixel:nth-of-type(887) {
      background: #231816; }
    .box .pixel:nth-of-type(888) {
      background: #231816; }
    .box .pixel:nth-of-type(889) {
      background: #231816; }
    .box .pixel:nth-of-type(890) {
      background: #231816; }
    .box .pixel:nth-of-type(891) {
      background: #231816; }
    .box .pixel:nth-of-type(892) {
      background: #231816; }
    .box .pixel:nth-of-type(893) {
      background: #231816; }
    .box .pixel:nth-of-type(894) {
      background: #231816; }
    .box .pixel:nth-of-type(895) {
      background: #231816; }
    .box .pixel:nth-of-type(896) {
      background: #231816; }
    .box .pixel:nth-of-type(897) {
      background: #231816; }
    .box .pixel:nth-of-type(898) {
      background: #231816; }
    .box .pixel:nth-of-type(899) {
      background: #231816; }
    .box .pixel:nth-of-type(900) {
      background: #231816; }
    .box .pixel:nth-of-type(901) {
      background: #231816; }
    .box .pixel:nth-of-type(902) {
      background: #231816; }
    .box .pixel:nth-of-type(903) {
      background: #231816; }
    .box .pixel:nth-of-type(904) {
      background: #231816; }
    .box .pixel:nth-of-type(905) {
      background: #231816; }
    .box .pixel:nth-of-type(906) {
      background: #231816; }
    .box .pixel:nth-of-type(907) {
      background: #231816; }
    .box .pixel:nth-of-type(908) {
      background: #231816; }
    .box .pixel:nth-of-type(909) {
      background: #231816; }
    .box .pixel:nth-of-type(910) {
      background: #231816; }
    .box .pixel:nth-of-type(911) {
      background: #231816; }
    .box .pixel:nth-of-type(912) {
      background: #231816; }
    .box .pixel:nth-of-type(913) {
      background: #231816; }
    .box .pixel:nth-of-type(914) {
      background: #231816; }
    .box .pixel:nth-of-type(915) {
      background: #231816; }
    .box .pixel:nth-of-type(916) {
      background: #231816; }
    .box .pixel:nth-of-type(917) {
      background: #231816; }
    .box .pixel:nth-of-type(918) {
      background: #231816; }
    .box .pixel:nth-of-type(953) {
      background: #231816; }
    .box .pixel:nth-of-type(954) {
      background: #231816; }
    .box .pixel:nth-of-type(955) {
      background: #231816; }
    .box .pixel:nth-of-type(956) {
      background: #231816; }
    .box .pixel:nth-of-type(957) {
      background: #231816; }
    .box .pixel:nth-of-type(958) {
      background: #231816; }
    .box .pixel:nth-of-type(959) {
      background: #231816; }
    .box .pixel:nth-of-type(960) {
      background: #231816; }
    .box .pixel:nth-of-type(961) {
      background: #231816; }
    .box .pixel:nth-of-type(962) {
      background: #231816; }
    .box .pixel:nth-of-type(963) {
      background: #231816; }
    .box .pixel:nth-of-type(964) {
      background: #231816; }
    .box .pixel:nth-of-type(965) {
      background: #231816; }
    .box .pixel:nth-of-type(966) {
      background: #231816; }
    .box .pixel:nth-of-type(967) {
      background: #231816; }
    .box .pixel:nth-of-type(968) {
      background: #231816; }
    .box .pixel:nth-of-type(969) {
      background: #231816; }
    .box .pixel:nth-of-type(970) {
      background: #231816; }
    .box .pixel:nth-of-type(971) {
      background: #231816; }
    .box .pixel:nth-of-type(972) {
      background: #231816; }
    .box .pixel:nth-of-type(973) {
      background: #231816; }
    .box .pixel:nth-of-type(974) {
      background: #231816; }
    .box .pixel:nth-of-type(975) {
      background: #231816; }
    .box .pixel:nth-of-type(976) {
      background: #231816; }
    .box .pixel:nth-of-type(977) {
      background: #231816; }
    .box .pixel:nth-of-type(978) {
      background: #231816; }
    .box .pixel:nth-of-type(979) {
      background: #231816; }
    .box .pixel:nth-of-type(980) {
      background: #231816; }
    .box .pixel:nth-of-type(981) {
      background: #231816; }
    .box .pixel:nth-of-type(982) {
      background: #231816; }
    .box .pixel:nth-of-type(983) {
      background: #231816; }
    .box .pixel:nth-of-type(984) {
      background: #231816; }
    .box .pixel:nth-of-type(985) {
      background: #231816; }
    .box .pixel:nth-of-type(986) {
      background: #231816; }
    .box .pixel:nth-of-type(987) {
      background: #231816; }
    .box .pixel:nth-of-type(988) {
      background: #231816; }
    .box .pixel:nth-of-type(989) {
      background: #231816; }
    .box .pixel:nth-of-type(990) {
      background: #231816; }
    .box .pixel:nth-of-type(991) {
      background: #231816; }
    .box .pixel:nth-of-type(992) {
      background: #231816; }
    .box .pixel:nth-of-type(993) {
      background: #231816; }
    .box .pixel:nth-of-type(994) {
      background: #231816; }
    .box .pixel:nth-of-type(995) {
      background: #231816; }
    .box .pixel:nth-of-type(996) {
      background: #231816; }
    .box .pixel:nth-of-type(997) {
      background: #231816; }
    .box .pixel:nth-of-type(998) {
      background: #231816; }
    .box .pixel:nth-of-type(999) {
      background: #231816; }
    .box .pixel:nth-of-type(1000) {
      background: #231816; }
    .box .pixel:nth-of-type(1001) {
      background: #231816; }
    .box .pixel:nth-of-type(1002) {
      background: #231816; }
    .box .pixel:nth-of-type(1003) {
      background: #231816; }
    .box .pixel:nth-of-type(362) {
      background: #ffffff; }
    .box .pixel:nth-of-type(363) {
      background: #ffffff; }
    .box .pixel:nth-of-type(366) {
      background: #ffffff; }
    .box .pixel:nth-of-type(367) {
      background: #ffffff; }
    .box .pixel:nth-of-type(447) {
      background: #ffffff; }
    .box .pixel:nth-of-type(448) {
      background: #ffffff; }
    .box .pixel:nth-of-type(451) {
      background: #ffffff; }
    .box .pixel:nth-of-type(452) {
      background: #ffffff; }
    .box .pixel:nth-of-type(534) {
      background: #ffffff; }
    .box .pixel:nth-of-type(535) {
      background: #ffffff; }
    .box .pixel:nth-of-type(538) {
      background: #ffffff; }
    .box .pixel:nth-of-type(539) {
      background: #ffffff; }
    .box .pixel:nth-of-type(619) {
      background: #ffffff; }
    .box .pixel:nth-of-type(620) {
      background: #ffffff; }
    .box .pixel:nth-of-type(623) {
      background: #ffffff; }
    .box .pixel:nth-of-type(624) {
      background: #ffffff; }
    .box .pixel:nth-of-type(706) {
      background: #ffffff; }
    .box .pixel:nth-of-type(707) {
      background: #ffffff; }
    .box .pixel:nth-of-type(710) {
      background: #ffffff; }
    .box .pixel:nth-of-type(711) {
      background: #ffffff; }
    .box .pixel:nth-of-type(791) {
      background: #ffffff; }
    .box .pixel:nth-of-type(792) {
      background: #ffffff; }
    .box .pixel:nth-of-type(795) {
      background: #ffffff; }
    .box .pixel:nth-of-type(796) {
      background: #ffffff; }
    .box .pixel:nth-of-type(388) {
      background: #ffffff; }
    .box .pixel:nth-of-type(389) {
      background: #ffffff; }
    .box .pixel:nth-of-type(392) {
      background: #ffffff; }
    .box .pixel:nth-of-type(393) {
      background: #ffffff; }
    .box .pixel:nth-of-type(473) {
      background: #ffffff; }
    .box .pixel:nth-of-type(474) {
      background: #ffffff; }
    .box .pixel:nth-of-type(477) {
      background: #ffffff; }
    .box .pixel:nth-of-type(478) {
      background: #ffffff; }
    .box .pixel:nth-of-type(560) {
      background: #ffffff; }
    .box .pixel:nth-of-type(561) {
      background: #ffffff; }
    .box .pixel:nth-of-type(564) {
      background: #ffffff; }
    .box .pixel:nth-of-type(565) {
      background: #ffffff; }
    .box .pixel:nth-of-type(645) {
      background: #ffffff; }
    .box .pixel:nth-of-type(646) {
      background: #ffffff; }
    .box .pixel:nth-of-type(649) {
      background: #ffffff; }
    .box .pixel:nth-of-type(650) {
      background: #ffffff; }
    .box .pixel:nth-of-type(732) {
      background: #ffffff; }
    .box .pixel:nth-of-type(733) {
      background: #ffffff; }
    .box .pixel:nth-of-type(736) {
      background: #ffffff; }
    .box .pixel:nth-of-type(737) {
      background: #ffffff; }
    .box .pixel:nth-of-type(817) {
      background: #ffffff; }
    .box .pixel:nth-of-type(818) {
      background: #ffffff; }
    .box .pixel:nth-of-type(821) {
      background: #ffffff; }
    .box .pixel:nth-of-type(822) {
      background: #ffffff; }
    .box .pixel:nth-of-type(528) {
      background: #ffffff; }
    .box .pixel:nth-of-type(529) {
      background: #ffffff; }
    .box .pixel:nth-of-type(613) {
      background: #ffffff; }
    .box .pixel:nth-of-type(614) {
      background: #ffffff; }
    .box .pixel:nth-of-type(698) {
      background: #ffffff; }
    .box .pixel:nth-of-type(699) {
      background: #ffffff; }
    .box .pixel:nth-of-type(700) {
      background: #ffffff; }
    .box .pixel:nth-of-type(701) {
      background: #ffffff; }
    .box .pixel:nth-of-type(783) {
      background: #ffffff; }
    .box .pixel:nth-of-type(784) {
      background: #ffffff; }
    .box .pixel:nth-of-type(785) {
      background: #ffffff; }
    .box .pixel:nth-of-type(786) {
      background: #ffffff; }
    .box .pixel:nth-of-type(868) {
      background: #ffffff; }
    .box .pixel:nth-of-type(869) {
      background: #ffffff; }
    .box .pixel:nth-of-type(870) {
      background: #ffffff; }
    .box .pixel:nth-of-type(871) {
      background: #ffffff; }
    .box .pixel:nth-of-type(872) {
      background: #ffffff; }
    .box .pixel:nth-of-type(873) {
      background: #ffffff; }
    .box .pixel:nth-of-type(953) {
      background: #ffffff; }
    .box .pixel:nth-of-type(954) {
      background: #ffffff; }
    .box .pixel:nth-of-type(955) {
      background: #ffffff; }
    .box .pixel:nth-of-type(956) {
      background: #ffffff; }
    .box .pixel:nth-of-type(957) {
      background: #ffffff; }
    .box .pixel:nth-of-type(958) {
      background: #ffffff; }
    .box .pixel:nth-of-type(577) {
      background: #ffffff; }
    .box .pixel:nth-of-type(578) {
      background: #ffffff; }
    .box .pixel:nth-of-type(662) {
      background: #ffffff; }
    .box .pixel:nth-of-type(663) {
      background: #ffffff; }
    .box .pixel:nth-of-type(745) {
      background: #ffffff; }
    .box .pixel:nth-of-type(746) {
      background: #ffffff; }
    .box .pixel:nth-of-type(747) {
      background: #ffffff; }
    .box .pixel:nth-of-type(748) {
      background: #ffffff; }
    .box .pixel:nth-of-type(830) {
      background: #ffffff; }
    .box .pixel:nth-of-type(831) {
      background: #ffffff; }
    .box .pixel:nth-of-type(832) {
      background: #ffffff; }
    .box .pixel:nth-of-type(833) {
      background: #ffffff; }
    .box .pixel:nth-of-type(913) {
      background: #ffffff; }
    .box .pixel:nth-of-type(914) {
      background: #ffffff; }
    .box .pixel:nth-of-type(915) {
      background: #ffffff; }
    .box .pixel:nth-of-type(916) {
      background: #ffffff; }
    .box .pixel:nth-of-type(917) {
      background: #ffffff; }
    .box .pixel:nth-of-type(918) {
      background: #ffffff; }
    .box .pixel:nth-of-type(998) {
      background: #ffffff; }
    .box .pixel:nth-of-type(999) {
      background: #ffffff; }
    .box .pixel:nth-of-type(1000) {
      background: #ffffff; }
    .box .pixel:nth-of-type(1001) {
      background: #ffffff; }
    .box .pixel:nth-of-type(1002) {
      background: #ffffff; }
    .box .pixel:nth-of-type(1003) {
      background: #ffffff; }
    .box .pixel:nth-of-type(466) {
      background: #ffffff; }
    .box .pixel:nth-of-type(467) {
      background: #ffffff; }
    .box .pixel:nth-of-type(468) {
      background: #ffffff; }
    .box .pixel:nth-of-type(469) {
      background: #ffffff; }
    .box .pixel:nth-of-type(551) {
      background: #ffffff; }
    .box .pixel:nth-of-type(552) {
      background: #ffffff; }
    .box .pixel:nth-of-type(553) {
      background: #ffffff; }
    .box .pixel:nth-of-type(554) {
      background: #ffffff; }
    .box .pixel:nth-of-type(636) {
      background: #ffffff; }
    .box .pixel:nth-of-type(637) {
      background: #ffffff; }
    .box .pixel:nth-of-type(638) {
      background: #ffffff; }
    .box .pixel:nth-of-type(639) {
      background: #ffffff; }
    .box .pixel:nth-of-type(719) {
      background: #ffffff; }
    .box .pixel:nth-of-type(720) {
      background: #ffffff; }
    .box .pixel:nth-of-type(721) {
      background: #ffffff; }
    .box .pixel:nth-of-type(722) {
      background: #ffffff; }
    .box .pixel:nth-of-type(723) {
      background: #ffffff; }
    .box .pixel:nth-of-type(724) {
      background: #ffffff; }
    .box .pixel:nth-of-type(725) {
      background: #ffffff; }
    .box .pixel:nth-of-type(726) {
      background: #ffffff; }
    .box .pixel:nth-of-type(804) {
      background: #ffffff; }
    .box .pixel:nth-of-type(805) {
      background: #ffffff; }
    .box .pixel:nth-of-type(806) {
      background: #ffffff; }
    .box .pixel:nth-of-type(807) {
      background: #ffffff; }
    .box .pixel:nth-of-type(808) {
      background: #ffffff; }
    .box .pixel:nth-of-type(809) {
      background: #ffffff; }
    .box .pixel:nth-of-type(810) {
      background: #ffffff; }
    .box .pixel:nth-of-type(811) {
      background: #ffffff; }
    .box .pixel:nth-of-type(887) {
      background: #ffffff; }
    .box .pixel:nth-of-type(888) {
      background: #ffffff; }
    .box .pixel:nth-of-type(889) {
      background: #ffffff; }
    .box .pixel:nth-of-type(890) {
      background: #ffffff; }
    .box .pixel:nth-of-type(891) {
      background: #ffffff; }
    .box .pixel:nth-of-type(892) {
      background: #ffffff; }
    .box .pixel:nth-of-type(893) {
      background: #ffffff; }
    .box .pixel:nth-of-type(894) {
      background: #ffffff; }
    .box .pixel:nth-of-type(895) {
      background: #ffffff; }
    .box .pixel:nth-of-type(896) {
      background: #ffffff; }
    .box .pixel:nth-of-type(897) {
      background: #ffffff; }
    .box .pixel:nth-of-type(898) {
      background: #ffffff; }
    .box .pixel:nth-of-type(972) {
      background: #ffffff; }
    .box .pixel:nth-of-type(973) {
      background: #ffffff; }
    .box .pixel:nth-of-type(974) {
      background: #ffffff; }
    .box .pixel:nth-of-type(975) {
      background: #ffffff; }
    .box .pixel:nth-of-type(976) {
      background: #ffffff; }
    .box .pixel:nth-of-type(977) {
      background: #ffffff; }
    .box .pixel:nth-of-type(978) {
      background: #ffffff; }
    .box .pixel:nth-of-type(979) {
      background: #ffffff; }
    .box .pixel:nth-of-type(980) {
      background: #ffffff; }
    .box .pixel:nth-of-type(981) {
      background: #ffffff; }
    .box .pixel:nth-of-type(982) {
      background: #ffffff; }
    .box .pixel:nth-of-type(983) {
      background: #ffffff; }
    .box .pixel:nth-of-type(1210) {
      background: #231816; }
    .box .pixel:nth-of-type(1211) {
      background: #231816; }
    .box .pixel:nth-of-type(1295) {
      background: #231816; }
    .box .pixel:nth-of-type(1296) {
      background: #231816; }
    .box .pixel:nth-of-type(1297) {
      background: #231816; }
    .box .pixel:nth-of-type(1381) {
      background: #231816; }
    .box .pixel:nth-of-type(1382) {
      background: #231816; }
    .box .pixel:nth-of-type(1383) {
      background: #231816; }
    .box .pixel:nth-of-type(1467) {
      background: #231816; }
    .box .pixel:nth-of-type(1468) {
      background: #231816; }
    .box .pixel:nth-of-type(1469) {
      background: #231816; }
    .box .pixel:nth-of-type(1470) {
      background: #231816; }
    .box .pixel:nth-of-type(1471) {
      background: #231816; }
    .box .pixel:nth-of-type(1553) {
      background: #231816; }
    .box .pixel:nth-of-type(1554) {
      background: #231816; }
    .box .pixel:nth-of-type(1555) {
      background: #231816; }
    .box .pixel:nth-of-type(1556) {
      background: #231816; }
    .box .pixel:nth-of-type(1325) {
      background: #231816; }
    .box .pixel:nth-of-type(1326) {
      background: #231816; }
    .box .pixel:nth-of-type(1327) {
      background: #231816; }
    .box .pixel:nth-of-type(1410) {
      background: #231816; }
    .box .pixel:nth-of-type(1495) {
      background: #231816; }
    .box .pixel:nth-of-type(1580) {
      background: #231816; }
    .box .pixel:nth-of-type(1581) {
      background: #231816; }
    .box .pixel:nth-of-type(1582) {
      background: #231816; }
    .box .pixel:nth-of-type(1329) {
      background: #231816; }
    .box .pixel:nth-of-type(1330) {
      background: #231816; }
    .box .pixel:nth-of-type(1331) {
      background: #231816; }
    .box .pixel:nth-of-type(1414) {
      background: #231816; }
    .box .pixel:nth-of-type(1416) {
      background: #231816; }
    .box .pixel:nth-of-type(1499) {
      background: #231816; }
    .box .pixel:nth-of-type(1501) {
      background: #231816; }
    .box .pixel:nth-of-type(1584) {
      background: #231816; }
    .box .pixel:nth-of-type(1585) {
      background: #231816; }
    .box .pixel:nth-of-type(1586) {
      background: #231816; }
    .box .pixel:nth-of-type(1333) {
      background: #231816; }
    .box .pixel:nth-of-type(1334) {
      background: #231816; }
    .box .pixel:nth-of-type(1335) {
      background: #231816; }
    .box .pixel:nth-of-type(1418) {
      background: #231816; }
    .box .pixel:nth-of-type(1420) {
      background: #231816; }
    .box .pixel:nth-of-type(1503) {
      background: #231816; }
    .box .pixel:nth-of-type(1505) {
      background: #231816; }
    .box .pixel:nth-of-type(1588) {
      background: #231816; }
    .box .pixel:nth-of-type(1589) {
      background: #231816; }
    .box .pixel:nth-of-type(1590) {
      background: #231816; }
    .box .pixel:nth-of-type(1337) {
      background: #231816; }
    .box .pixel:nth-of-type(1422) {
      background: #231816; }
    .box .pixel:nth-of-type(1507) {
      background: #231816; }
    .box .pixel:nth-of-type(1592) {
      background: #231816; }
    .box .pixel:nth-of-type(1593) {
      background: #231816; }
    .box .pixel:nth-of-type(1594) {
      background: #231816; }
    .box .pixel:nth-of-type(1256) {
      background: #231816; }
    .box .pixel:nth-of-type(1341) {
      background: #231816; }
    .box .pixel:nth-of-type(1426) {
      background: #231816; }
    .box .pixel:nth-of-type(1596) {
      background: #231816; }
