$black    	: #231816;
$white    	: #ffffff;
$light_grey : #f4f4f4;

body {
  background: $light_grey;
}

.box {
  width:850px;
  height:315px;

  .pixel {
    width:10px;
    height:10px;
    background:$white;
    float:left;
    box-shadow: 0px 0px 1px 0px #231816;

		// Background GLASSES
		$i: 188;
		$c: 1;
		@while $c <= 10 {
			@for $j from $i through $i+50 {
				&:nth-of-type(#{$j}){
					background: $black;
				}
			}
			$i: $i + 85;
			$c: $c + 1;
		}

		// BLINK LIGHT
		$arr_white: (
			// Light Left
			362, 363, 366, 367,
			447, 448, 451, 452,
			534, 535, 538, 539,
			619, 620, 623, 624,
			706, 707, 710, 711,
			791, 792, 795, 796,

			// Light Right
			388, 389, 392, 393,
			473, 474, 477, 478,
			560, 561, 564, 565,
			645, 646, 649, 650,
			732, 733, 736, 737,
			817, 818, 821, 822,

			// Border Left Bottom
			528, 529,
			613, 614,
			698, 699, 700, 701,
			783, 784, 785, 786,
			868, 869, 870, 871,	872, 873,
			953, 954, 955, 956, 957, 958,

			// Border Right Bottom
			577, 578,
			662, 663,
			745, 746, 747, 748,
			830, 831, 832, 833,
			913, 914, 915, 916, 917, 918,
			998, 999, 1000, 1001, 1002, 1003,

			// Border Mid Center
			466, 467, 468, 469,
			551, 552, 553, 554,
			636, 637, 638, 639,

			// Border Mid Bottom
			719, 720, 721, 722, 723, 724, 725, 726,
			804, 805, 806, 807, 808, 809, 810, 811,
			887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898,
			972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983,
		);
		@each $w in $arr_white{
			&:nth-of-type(#{$w}){
				background: $white;
			}
		}

		// BLACK - SMILE / COOL!
		$arr: (
			// SMILE
			1210, 1211,
			1295, 1296, 1297,
			1381, 1382, 1383,
			1467, 1468, 1469, 1470, 1471,
			1553, 1554, 1555, 1556,

			// C
			1325, 1326, 1327,
			1410,
			1495,
			1580, 1581, 1582,

			// O
			1329, 1330, 1331,
			1414, 			1416,
			1499, 			1501,
			1584, 1585, 1586,

			// O
			1333, 1334, 1335,
			1418, 			1420,
			1503, 			1505,
			1588, 1589, 1590,

			// L
			1337,
			1422,
			1507,
			1592, 1593, 1594,

			// !
			1256,
			1341,
			1426,
			1596,
		);
		@each $b in $arr{
			&:nth-of-type(#{$b}){
				background: $black;
			}
		}

  }
}
